{% extends "base.html" %}

{% block content %}
<h1>Registration</h1>

<form method="POST" novalidate>
    {{ form.hidden_tag() }}

    {% for field in form %}
    {% if "submit" != field.name and "csrf_token" != field.name %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control") }}
        {% for error in field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}

    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}