<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WTForms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>
                {% if breed %}
                The breed you entered is {{ breed }}.
                Update it in the form below:
                {% else %}
                Please enter your breed:
                {% endif %}
            </p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.breed.label }}
                    {{ form.breed(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
</body>
</html>